header {
  background-color: rgb(200, 129, 103);
  height: 10vh;

  background-image: url("../assets/img/mars_colony2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.headerDiv {
  background-color: rgb(255, 255, 255, 0.25);
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  width: 8vh;
  height: auto;
}
